/*
main.scss
 */
$color_body_bgcolor:#eceff1;
$color_body:#757575;
$color_code:#c7254e;
$color_code_bgcolor:#f9f2f4;
$color_sideBar_title:#FFC672;
$color_navBar_bgcolor:#4A6091;
$color_sideBar_bgcolor:#53628A;
$color_bg_purple_dark_bgcolor:#d3dce6;
$color_bg_purple_bgcolor:#d3dce6;
$color_bg_purple_light_bgcolor:#e5e9f2;
$color_row_bg_bgcolor:#f9fafc;
