@import "./color/color.scss";
.el-button{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.el-button--text{
	color:$color_button--text;
}
.el-button--success.is-plain,.el-button--warning.is-plain,.el-button--danger.is-plain,.el-button--info.is-plain,.el-button--primary.is-plain{
	color: $color_button_is-plain;
	border-color: $color_button_is-plain_border;
}